@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik+Wet+Paint&display=swap");

.head-text-style {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.content-text-style {
  font-family: "Roboto Mono", monospace;
}
.social-icon {
  font-size: 50px;
  color: black;
  text-decoration: none;
}
